@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --primary: #7510f7;
}

body {
  background: rgb(255,255,255);
  background-image: linear-gradient(108deg, rgba(255,255,255,1) 12%, rgba(162,224,214,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  background-attachment: fixed; /* Add this line to fix the background image */
}

h1, h2, h3, h4, h5 {
  font-family: "Anta", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: #000;
  font-style: normal;
}

.navbar { background-color: transparent !important; }
.navbar img { max-width: 300px; height: auto; }

.navbar ul { text-align: center; }

.navbar li a { 
  color: var(--primary) !important; 
  font-weight: 500; 
  padding: 10px 15px !important;
  border: 2px solid var(--primary);
  border-radius: 10px;
}

.navbar li a:hover {
  background-color: var(--primary);
  color: var(--bs-white) !important;
}

section {
  text-align: center;
  padding: 4% 5%;
}

section h1 {
  color: #000 !important;
  font-size: 2.5em;
}

section p {
  font-size: 1.3em;
  padding: 1% 0;
}

/*Hero Section*/

#hero .img-fluid {
  max-width: 250px;
  height: auto;
  background-color: var(--primary);
  border-radius: 50%;
  margin-top: 5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*About Section*/

#about {
  margin-top: 0%;
  padding: 0;
}

#about .img-fluid {
  max-width: 70vw;
}

#about .container-fluid {
  background-color: var(--primary);
  padding: 8% 12%;
}

#about h2 {
  color: #FFF;
  font-size: 1.9em;
}

#about p {
  color: #FFF;
  font-size: 1.2em;
  font-weight: 400;
}

#about a {
  text-decoration: none;
  color: #FFF;
}

/*Portfolio Section*/

#portfolio {
  padding: 5% 5%;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
}

.portfolio-item img {
  border-radius: 20px; /* Rounded border radius */
  transition: opacity 1s ease-in-out; /* Slow transition for image opacity */
  opacity: 1; /* Ensure image is initially visible */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.portfolio-item:hover img {
  opacity: 0; /* Image disappears on hover */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141C3A; /* Overlay background color */
  transition: opacity 1s ease-in-out; /* Slow transition for overlay opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px; /* Rounded border radius */
  opacity: 0; /* Ensure overlay is initially hidden */
}

.portfolio-item:hover .overlay {
  opacity: 1; /* Overlay appears on hover */
}



.overlay-content {
  color: #fff;
  text-align: center;
}

.overlay-content h3 {
  margin-bottom: 10px;
}

.overlay-content p {
  color: #FFF; /* Text color for paragraph */
}

.overlay-content .btn {
  color: #FFF; /* Text color for button */
  font-weight: 500; 
  background-color: transparent;
  padding: 4% 15%;
  border: 2px solid var(--primary);
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.overlay-content .btn:hover {
  background-color: var(--primary);
  color: var(--bs-white) !important;
}
